%title-font {
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
}

%menu-font {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

%footer-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}