$darkgrey: #73788C;
$grey: #A6A6A6;
$lightgrey: #F5F5F5;
$darkblue: #1F2744;
$blue: #054457;
$darkgreen: #0B2E29;
$green: #69B99D;
$white: #FEFEFF;
$orange: rgba(201, 100, 18, 0.2);

$tab-label-height: 56px;
$tab-content-height: 124px;